/*!
 * aggregit.css
 *
 * Copyright 2015 Timothy Davenport; Licensed MIT
 */

/* General Styles
 ---------------------- */
html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}
body {
    margin-top: 64px;
    margin-bottom: 48px;
    overflow-x: hidden;
}
nav {
    animation: introDn 512ms ease 0s 1 both;
}
footer {
    animation: introUp 1024ms ease 0s 1 both;
}
.bringIn {
    animation: introOut 256ms ease 0s 1 both;
}
@keyframes introDn {
    0%   {opacity: 0; transform: scale(1.02) translateY(-64px);}
    100% {opacity: 1; transform: scale(1) translateY(  0px);}
}
@keyframes introDn2 {
    0%   {opacity: 0; transform: scale(1.05) translateY(-48px);}
    100% {opacity: 1; transform: scale(1) translateY(  0px);}
}
@keyframes introUp {
    0%   {opacity: 0; transform: scale(0.98) translateY(32px);}
    100% {opacity: 1; transform: scale(1) translateY( 0px);}
}
@keyframes introOut {
    0%   {opacity: 0; transform: scale(0.95) translateY(10px);}
    100% {opacity: 1; transform: scale(1) translateY( 0px);}
}
nav {
    margin-bottom: 0;
}
mark code {
    background-color: #fff8eb;
}

.footnote ol {
    margin: 0px;
}
ul {
    padding-start:20px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
}
footer hr {
    margin: 5px;
}
footer p {
    margin: 0 auto;
    padding-bottom:  0;
}
footer a::before {
    margin-top:-24px!important;
}
footer a:hover::before {
    margin-top:-48px!important;
}
.container-fluid {
    padding: 0;
}
.abbr[title] {
    border-bottom: 2px dotted black!important;
}
.checklist {
    list-style: none;
}
input[type="checkbox"]::after,
.checkbox input[type="checkbox"]::after,
.checkbox-inline input[type="checkbox"]::after {
    content: "x";
    line-height: 0.8;
    color: #eee;
    font-size: 16px;
    padding-left: 3px;
}
input[type="checkbox"]:checked::after,
.checkbox input[type="checkbox"]:checked::after,
.checkbox-inline input[type="checkbox"]:checked::after {
    content: "x";
}

.force-hover[title]::before,
abbr[title]::before,
a[href]:not(.no-hover)::before,
time[datetime]:not(.no-hover)::before {
    position: absolute;
    margin-top:0px;
    padding: 4px;
    background-color: #30c2a4;
    color:#fdfefd;
    text-align: center;
    white-space: pre;
    word-break: break-all!important;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 20;
    pointer-events: none;
}
.pull-right .force-hover[title]::before,
.pull-right abbr[title]::before,
.pull-right a[href]:not(.no-hover)::before,
.pull-right time[datetime]:not(.no-hover)::before {
    right: 2px;
}
.pull-left .force-hover[title]::before,
.pull-left abbr[title]::before,
.pull-left a[href]:not(.no-hover)::before,
.pull-left time[datetime]:not(.no-hover)::before {
    left: 4px;
}
.navbar-right .force-hover[title]::before,
.navbar-right abbr[title]::before,
.navbar-right a[href]:not(.no-hover)::before,
.navbar-right time[datetime]:not(.no-hover)::before {
    right: 2px;
}

time[datetime]:not(.no-hover)::before {
    background-color: #24af92;
}
abbr[title]::before {
    background-color: #1a9d82;
}
.force-hover[title]::before,
abbr[title]::before {
    content: attr(title);
}
a[href]:not(.no-hover)::before {
    content: attr(href) "\a(" attr(alt) ")";
}
time[datetime]:not(.no-hover)::before {
    content: "ISO8601 : " attr(datetime);
}
.force-hover[title]:hover::before,
abbr[title]:hover::before,
a[href]:not(.no-hover):hover::before,
time[datetime]:not(.no-hover):hover::before {
    opacity: 1;
    margin-top:-48px;
}
nav .force-hover[title]:hover::before,
nav abbr[title]:hover::before,
nav a[href]:not(.no-hover):hover::before,
nav time[datetime]:not(.no-hover):hover::before {
    opacity: 1;
    margin-top:48px;
}
.tooltip {
    position: absolute;
    margin-top:-16px;
    padding: 4px;
    background-color: #30c2a4;
    color:#fdfefd;
    transition: all 0.5s ease;
    z-index: 20;
    pointer-events: none;
}
#help-arrow {
    position: absolute;
    top:-28px;
    left:200px;
    font-size: 500%;
    animation: introUp 1024ms ease 0s 1 both;
}
#help-arrow i {
    color:#b2dbfb;
    animation: pulsecolor 600ms ease 300ms infinite alternate;
}
.input-group-addon.help-pulse {
    animation: pulsecolor 600ms ease 0s infinite alternate;
}
.form-control.help-pulse {
    animation: pulseborder 600ms ease 300ms infinite alternate;
}
@keyframes pulsecolor {
    0%   {color:#b2dbfb;}
    100% {color:#ff9800;}
}
@keyframes pulseborder {
    0%   {box-shadow: inset 0 -2px 0 #b2dbfb;}
    100% {box-shadow: inset 0 -2px 0 #ff9800;}
}

#home-jumbo {
    padding-top: 16px!important;
}
#home-logo {
    width: 33%!important;
    animation: introDn2 1024ms ease 0s 1 both;
}
#auth-logo {
    width: 50%!important;
    margin-bottom: 8px;
}
#auth-panel {
    width: 50%;
}
.smallprint {
    font-size: 14px !important;
    line-height: 1.2;
    margin-top: 16px;
}

/* Cursors patterns */
.authed:hover {
   cursor: not-allowed;
}
.authed:active {
    pointer-events: none;
}

/* Navbar
 ---------------------- */
.navbar {
    background-color: rgba(12, 132, 228, 0.96);
}
.navbar .input-group-addon a,
.navbar .input-group-addon {
    color:#b2dbfb;
}
#cached-user {
    animation: fadein 1000ms ease 100ms 1 both;
}
@keyframes fadein {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
.navbar .input-group-addon a:hover {
    color:#fff;
}
#beta {
    position: absolute;
    top:0;
    left:0;
    transform-origin: 50% 50%;
    animation: slidein 1000ms ease 200ms 1 both;
}
@keyframes slidein {
    0%   {opacity: 0; transform: rotate(23deg) scale(2) translate(8px, 0px);}
    100% {opacity: 1; transform: rotate(-23deg) scale(1) translate(8px, 12px);}
}

nav #nav-search-user.form-control {
    width:170px!important;
}
#nav-logo {
    width: 48px;
    /*background-color: #fff;*/
    /*border-radius: 5px;*/
    padding: 2px;
}

/* No Collapse Navbar
 ---------------------- */
 .navbar .container {
    margin-top: -10px;
 }
.navbar-header {
    float:left!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.navbar-brand {
    margin-left:0px!important;
    padding-left: 4px;
    padding-right: 4px;
}
.navbar-nav.navbar-left {
    float: left!important;
    margin: 0;
}
.navbar-nav.navbar-right {
    float: right!important;
    margin: 0;
}
.navbar-nav>li {
    float:left!important;
}
.navbar-nav>li>a {
    padding: 21px 4px;
    height: 64px;
}
.navbar-form.navbar-left {
    float:left!important
}
.navbar-form.navbar-right {
    float:right!important
}
.navbar-form {
    width: auto!important;
    border: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
    box-shadow: none!important;
}
.navbar-form .input-group {
    display: inline-table!important;
    vertical-align: middle!important;
}
.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
    width: auto!important;
}
.navbar-form .form-control {
    display: inline-block!important;
    width: auto!important;
    vertical-align: middle!important;
}
.navbar-form .input-group-addon {
    padding-left: 4px!important;
    padding-right: 4px!important;
}

/* User Info
 ---------------------- */
#user-info .media,
#user-info .media-body {
    overflow: visible;
}
#avatar {
    width: 128px;
    height: 128px;
    padding: 4px;
    border: 1px solid #ddd;
}
#follower-list,
#repogist-list,
#badge-list {
    display: inline-block;
    padding-left: 16px;
}
#hireable {
    color: #4CAF50;
}
#site_admin {
    color: #9C27B0;
}
#user-info hr {
    margin: 4px;
}

/* User Data
 ---------------------- */
#user-data {
    margin-right: 16px;
    margin-left: 16px;
}
.checklist.list-inline li {
    margin-left: 25px;
}
#punchcard svg,
#participation svg,
#languages svg {
    display: block;
    margin: 0 auto;
}
.axis path,
.axis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}
.aggregitting {
    font-size: 15px;
}

#rate-limit h1 {
    color:#fff!important;
}
#rate-limit {
    animation: slideup 1000ms ease 200ms 1 both;
}
@keyframes slideup {
    0%   {opacity:0; margin-top:100px;}
    100% {opacity:1; margin-top: 0px;}
}

/* User Punch Card
 ---------------------- */
#punchcard .circle {
    fill:#0c84e4;
    transition: fill 256ms ease;
}
#punchcard .circle:hover {
    fill:#b2dbfb;
    stroke:#0c84e4;
}

/* User Participation
 ---------------------- */
#participation .line {
    fill: none;
    stroke: :#0c84e4;
    stroke-width: 1.5px;
}

/* User Languages
 ---------------------- */
#languages .arc path {
  stroke: #fff;
}
#languages-tooltip {
    display: block!important;
    margin: 0 auto!important;
    top:50%;
    left:50%;
    text-align: center;
    background-color: rgba(0,0,0,0)!important;
    color:#30c2a4;
    font-size: 200%;
    transition: all 0.5s ease;
    transform: translate(-50%,-50%);
}
