<template id="about-template">
    <section class="bringIn">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1>About Aggregit <small>{x|x&isin;r&isin;u}</small></h1>
                    <hr>
                    <h3>Multi-Repo Punch Card Anyone?</h3>
                    <p class="lead">Ever wanted to see your punch card for <em>all</em> your repos? your non-<code>master</code> contributions in the heat map? <em>all</em> your language stats? Well, those are the reasons for building this.</p>
                    <h4>Data, Data, Data!</h4>
                    <p class="lead">The site makes a bunch of calls to the <a href="https://developer.github.com/v3/" target="_blank">GitHub API</a> to get a whole mess of <code>json</code> that can be plotted or presented in a beautiful way.</p>
                    <h4>Link / Share</h4>
                    <p>Share your data by linking to this site with your username passed as an parameter.</p>
                    <pre>http://{{domain}}#/!user=tmthydvnprt</pre>
                    <p>Check out <em>all</em> my <a href="http://{{domain}}#/!user=tmthydvnprt">GitHub data</a>.</p>
                </div>
            </div>
        </div>
    </section>
</template>
