<template id="help-template">
	<section class="bringIn">
        <i id="help-arrow" class="fa fa-arrow-up"></i>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1>Contact</h1>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/tmthydvnprt">tmthydvnprt</a></li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </section>
</template>