<template id="contact-template">
	<section class="bringIn">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1>Contact</h1>
                    <hr>
                    <p class="lead">If you need to discuss something about aggregit, you may send emails to <a href="mailto:info@aggregit.com">info@aggregit.com</a>, begin a conversation at the <a href="https://github.com/tmthydvnprt/aggregit">aggregit</a> GitHub repo, or reach me directly on GitHub as <a href="https://github.com/tmthydvnprt">tmthydvnprt</a>.</p>
                    <hr>
                </div>
            </div>
        </div>
    </section>
</template>
