<template id="error-template">
    <div class="col-xs-6 col-xs-offset-3">
        <div id="rate-limit" class="alert alert-danger" role="alert">
            <h1 class="text-center">Error <i class="fa fa-frown-o"></i></h1>
            <p class="lead text-center">
                We've been <strong><a href="https://developer.github.com/v3/#rate-limiting" target="_blank">rate-limited</a></strong> by GitHub's API</a>!<br>
                <small>Calls from this <a href="https://www.google.com/#q=what+is+my+ip" target="_blank"><abbr title="Internet Protocol">IP</abbr> address</a> will fail for one hour.</small>
            </p>
        </div>
    </div>
</template>
