<template id="export-template">
    <section class="bringIn">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="panel panel-primary center-block" id="export-panel">
                        <div class="panel-heading">
                            <h2 class="panel-title text-center">Export</h2>
                        </div>
                        <div class="panel-body">
                            <p class="text-center">Would you like to export this user's data as a <code>json</code> file?</p>
                            <div id="json-file" class="text-center text-primary">
                                <i class="fa fa-file-text fa-5x"></i>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-success no-hover disabled" id="export-btn" href="#" download="nothing.json" target="_blank"><i class="fa fa-gear fa-spin"></i>Export Data</a>
                            </div>
                            <p class="smallprint">If you are on Safari, the file will be downloaded as <code>Unknown</code>. This file should be renamed to something with the extension <code>.json</code>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
