<template id="help-template">
    <section class="bringIn">
        <span id="help-arrow"><i class="fa fa-arrow-up"></i></span>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1>Help? <small>&mdash; it's easy!</small></h1>
                    <hr>
                    <h4>
                        <ol>
                            <li>Type in a GitHub username.</li>
                            <li>Press <kbd>enter</kbd>.</li>
                            <li>Aggregit will aggregate thats user's data.
                                <ul>
                                    <li><small>If it is your first time, you will be asked to authorize GitHub access.</small></li>
                                </ul>
                            </li>
                            <li>View or download the results and enjoy the data!</li>
                        </ol>
                    </h4>
                    <hr>
                    <h4 class="text-muted">
                        Or check out this <a href="#!/user=tmthydvnprt_example">example of user data</a>.
                    </h4>
                </div>
            </div>
        </div>
    </section>
</template>
