<template id="help-template">
    <section class="bringIn">
        <span id="help-arrow"><i class="fa fa-arrow-up"></i></span>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2>Help? <small>&mdash; it's easy!</small></h2>
                    <hr>
                    <h5>
                        <ol>
                            <li>Type in a GitHub username.</li>
                            <li>Press <kbd>enter</kbd>.</li>
                            <li> You'll be sent to the <code>#!/user</code> page.
                                <ul>
                                    <li><small class="text-success">If it is your first time, you will be asked to authorize GitHub access.</small></li>
                                </ul>
                            </li>
                            <li>Aggregit will aggregate and render thats user's data.</li>
                            <li>View the results and enjoy the data!
                                <ul>
                                    <li>Download the raw data as a <code>json</code> file by clicking <i class="fa fa-cloud-download"></i>.</li>
                                    <li>View cached result by clicking <i class="fa fa-area-chart"></i>.</li>
                                </ul>
                            </li>
                        </ol>
                    </h5>
                    <hr>
                    <h5 class="text-muted">
                        Or check out this <a href="#!/user=tmthydvnprt_example">example of user data</a>.
                    </h5>
                </div>
            </div>
        </div>
    </section>
</template>
