<template id="help-template">
	<section class="bringIn">
        <i id="help-arrow" class="fa fa-arrow-up"></i>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1>Help? <small>&mdash;it's easy!</small></h1>
                    <hr>
                    <h2>
                        <ol>
                            <li>type in a GitHub username</li>
                            <li>press <kbd>enter</kbd></li>
                            <li>enjoy the data!</li>
                        </ol>
                    </h2>
                </div>
            </div>
        </div>
    </section>
</template>