<template id="home-template">
	<section class="bringIn">
        <div class="jumbotron text-center">
            <h1><span class="agg">aggre</span><span class="git">git</span></h1>
            <p class="lead">See <em>all</em> your data accross <em>all</em> your <a href="https://github.com" target="_blank">GitHub</a> repositories.</p>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="text-center">Search for a username</h2>
                <div class="well well-sm">
                    <form class="home-search">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search fa-2x"></i></span>
                            <input id="username" type="text" class="form-control" placeholder="Search for GitHub username">
                        </div>
                    </form>
                </div>
                <h2 class="text-center"><small>maybe yourself, a friend or future employee</small></h2>
            </div>        
        </div>
    </section>
</template>