<template id="home-template">
    <section class="bringIn">
        <div id="home-jumbo" class="jumbotron text-center">
            <img id="home-logo" src="{{relativepath}}img/aggregit_logo.svg" class="img-responsive center-block" alt="aggregit logo">
            <p class="lead">
                Get <em>all</em> your data across <em>all</em> your <a href="https://github.com" target="_blank">GitHub</a> repositories.<br>
                <small>Visualize your data here or export to process / analyze on your own.</small>
            </p>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h3 class="text-center">Search for a username:</h3>
                <div class="well well-sm">
                    <form id="home-search">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search fa-2x"></i></span>
                            <input id="home-search-user" type="text" class="form-control" placeholder="Search for GitHub username">
                        </div>
                    </form>
                </div>
                <h3 class="text-center"><small>(maybe yourself, a friend or future employee)</small></h3>
            </div>
        </div>
    </section>
</template>
