<template id="unknown-template">
    <section class="bringIn">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>Hmm..? <small>That is an unknown location.</small></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="lead">
                        Please return <a href="#!/home">home</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>
