<template id="user-data-template">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            
            <h2>When does {login} code?</h2>
            <hr>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-2">
                        <p class="text-right"><strong>Repos:</strong></p>
                    </div>
                    <div class="col-xs-10">
                        <ul id="punchcard-checklist" class="checklist list-inline"></ul>
                    </div>
                </div>
            </div>
            <div id="punchcard"></div>
            
            <h2>How long has {login} been coding?</h2>
            <hr>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-2">
                        <p class="text-right"><strong>Repos:</strong></p>
                    </div>
                    <div class="col-xs-10">
                        <ul id="participation-checklist" class="checklist list-inline"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <p class="text-right"><strong>Who:</strong></p>
                    </div>
                    <div class="col-xs-4">
                        <ul id="ownerall-checklist" class="checklist list-inline">
                            <li><input checked="" type="checkbox" name="owner">owner</li>
                            <li><input type="checkbox" name="all">all</li>
                        </ul>
                    </div>
                    <div class="col-xs-2">
                        <p class="text-right"><strong>Zoom:</strong></p>
                    </div>
                    <div class="col-xs-4">
                        <ul id="zoom-checklist" class="checklist list-inline">
                            <li><input checked="" type="checkbox" name="owner">ignore time before first commit</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="participation"></div>
            <div id="heatmap"></div>
            <h2>What languages does {login} speak?</h2>
            <hr>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3">
                        <p><strong>Repos:</strong></p>
                        <ul id="languages-checklist" class="checklist"></ul>
                    </div>
                    <div class="col-xs-9">
                        <div id="languages"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>