<template id="user-info-template">
    <div class="row">
        <div class="col-sm-6">
            <div class="media">
                <div class="media-left">
                    <a href="{html_url}" target="_blank"  alt="{login} avatar" title="{login} avatar">
                        <img id="avatar" class="media-object" src="{avatar_url}" alt="{login} avatar" title="{login} avatar">
                    </a>
                    <ul id="badge-list" class="list-unstyled">
                        <li><span class="force-hover" id="hireable" alt="hireable" title="hireable">{hireable}</span></li>
                        <li><span class="force-hover" id="site_admin" alt="site admin" title="site admin">{site_admin}</span></li>
                    </ul>
                    <hr>
                    <ul id="repogist-list" class="list-inline">
                        <li><i class="fa fa-fw fa-book"></i> <span class="force-hover" id="repos" alt="repos: {public_repos}" alt="repos: {public_repos}" title="repos: {public_repos}">{public_repos}</span></li>
                        <li><i class="fa fa-fw fa-file-text-o"></i> <span class="force-hover" id="gists" alt="gists: {public_gists}" alt="gists: {public_gists}" title="gists: {public_gists}">{public_gists}</span></li>
                    </ul>
                    <ul id="follower-list" class="list-inline">
                        <li><i class="fa fa-fw fa-users"></i> <span class="force-hover" id="followers" alt="followers: {followers}" alt="followers: {followers}" title="followers: {followers}">{followers}</span></li>
                        <li><i class="fa fa-fw fa-user-plus"></i> <span class="force-hover" id="following" alt="following: {following}" alt="following: {following}" title="following: {following}">{following}</span></li>
                    </ul>
                    <hr>
                </div>
                <div class="media-body">
                    <h1 class="media-heading">
                        <span id="name">{name}</span><br>
                        <small id="username" class="force-hover" alt="username" title="username">{login}</small>
                    </h1>
                    <hr>
                    <ul class="list-inline">
                        <li><i class="fa fa-fw fa-envelope-o"></i> <a id="email" href="mailto:{email}" alt="email: {email}" title="email: {email}">{email}</a></li>
                        <li><i class="fa fa-fw fa-link"></i> <a id="blog" href="http://{blog}" alt="blog: {blog}" title="blog: {blog}">{blog}</a></li>
                    </ul>
                    <ul class="list-inline">
                        <li><i class="fa fa-fw fa-building-o"></i> <span id="company" class="force-hover" alt="company: {company}" title="company: {company}">{company}</span></li>
                        <li><i class="fa fa-fw fa-location-arrow"></i> <span id="location" class="force-hover" alt="location: {location}" title="location: {location}">{location}</span></li>
                    </ul>
                    <ul class="list-inline text-muted">
                        <li><i class="fa fa-fw fa-clock-o"></i> <span id="created" class="force-hover" alt="created: {created_at}" title="created: {created_at}">{created_at}</span></li>
                        <li><i class="fa fa-fw fa-refresh"></i> <span id="updated" class="force-hover" alt="updated: {updated_at}" title="updated: {updated_at}">{updated_at}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
</template>